    .skills
{
    @include sm-min
    {
        padding: ($gap / 2) ($gap / 2) ($gap * 2);
    }
    @include sm
    {
        padding: $gap;
    }
    &__container
    {
        display: grid;

        padding-bottom: $gap;

        @include sm-min
        {
            grid-gap: $gap / 2;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'a1 a1 a2 a3' 'a4 a5 a5 a6' 'a7 a8 a9 a6';
        }
        @include lg-md
        {
            grid-gap: $gap / 2;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 'a1 a1 a2' 'a3 a4 a4' 'a5 a5 a6' 'a7 a8 a6' 'a7 a9 a9';
        }
        @include md-sm
        {
            grid-gap: $gap / 2;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'a1 a2' 'a3 a2' 'a4 a4' 'a5 a6' 'a5 a7' 'a8 a9';
        }
        @include sm
        {
            grid-gap: $gap;
            grid-template-columns: 1fr;
            grid-template-areas: 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'a7' 'a8' 'a9';
        }
    }
    &__button
    {
        display: flex;

        justify-content: center;
        @include sm-min
        {
            min-width: 350px;
        }
    }
}

.btn-accent
{
    border-color: $color-primary;
    background-color: rgba($color-primary, .8);

    @include sm-min
    {
        min-width: 350px;
    }
    @include sm
    {
        width: 100%;
    }
}

.skill-item
{
    position: relative;

    overflow: hidden;

    min-height: calc(33.33vh - 13px);

    background-color: $color-primary;
    &:nth-of-type(1)
    {
        grid-area: a1;
    }
    &:nth-of-type(2)
    {
        grid-area: a2;
    }
    &:nth-of-type(3)
    {
        grid-area: a3;
    }
    &:nth-of-type(4)
    {
        grid-area: a4;
    }
    &:nth-of-type(5)
    {
        grid-area: a5;
    }
    &:nth-of-type(6)
    {
        grid-area: a6;
    }
    &:nth-of-type(7)
    {
        grid-area: a7;
    }
    &:nth-of-type(8)
    {
        grid-area: a8;
    }
    &:nth-of-type(9)
    {
        grid-area: a9;
    }
    &__overlay
    {
        z-index: 1;

        transition: opacity .5s;

        opacity: .8;
        background-color: $color-primary;

        @include abs-position;
    }
    &__image
    {
        transition: transform .5s;

        background-position: 50% 50%;
        background-size: cover;

        @include abs-position;
    }
    &__title
    {
        z-index: 2;

        margin: 0;

        letter-spacing: .1em;

        @include abs-position;
        @include md-min
        {
            font-size: 1.25rem;
        }
        @include md
        {
            font-size: 1.125rem;
        }
    }
    &__link
    {
        display: flex;

        width: 100%;
        height: 100%;
        padding: 20px;

        transition: color .5s;

        justify-content: center;
        align-items: center;
    }
    &:hover
    {
        .skill-item__overlay
        {
            opacity: .95 !important;
        }
        .skill-item__image
        {
            transform: scale(1.1);
        }
        .skill-item__link
        {
            color: $color-accent;
        }
    }
}
