.posts {
    h2 {
        margin-top: 0;
    }
    @include lg-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;
    }
    @include lg-md {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }
    @include md {
        padding-top: $gap * 3;
        padding-bottom: $gap * 3;
    }
    &__container {
        display: grid;
        max-width: $ul;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
    }
    &__grid {
        display: grid;
        padding-bottom: $gap;
        grid-gap: $gap;
        @include lg-min {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
        }
        @include lg-md {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
        }
        @include md-sm {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
        }
        @include sm {
            grid-template-columns: 1fr;
            grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        @include sm-min {
            min-width: 350px;
        }
    }
}

.post-item {
    transition: background-color 0.5s;
    background-color: lighten($color-gray-light, 5%);
    &__caption {
        display: grid;
        padding: $gap;
        align-content: center;
        h3 {
            transition: color 0.5s;
            text-align: center;
            font-family: $font-header;
        }
        p {
            color: $color-gray;
            transition: color 0.5s;
            text-align: center;
        }
    }
    &__link {
        display: grid;
        overflow: hidden;
        height: 100%;
        grid-template-rows: 300px 1fr;
    }
    &__image {
        display: flex;
        overflow: hidden;
        background-color: $color-primary;
        justify-content: center;
        align-content: center;
        img {
            width: 100%;
            transition: transform 0.5s;
            object-fit: cover;
        }
    }
    &:hover {
        background-color: darken($color-gray-light, 5%);
        .post-item__image img {
            transform: scale(1.1);
        }
        h3 {
            color: $color-primary;
        }
        p {
            color: $color-primary;
        }
    }
    &:nth-of-type(1) {
        grid-area: p1;
    }
    &:nth-of-type(2) {
        grid-area: p2;
    }
    &:nth-of-type(3) {
        grid-area: p3;
    }
    &:nth-of-type(4) {
        grid-area: p4;
    }
    &:nth-of-type(5) {
        grid-area: p5;
    }
    &:nth-of-type(6) {
        grid-area: p6;
    }
}