    *
{
    box-sizing: border-box;
}

html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-y: scroll;

    color: $color-gray;
}

h1
{
    font-family: $font-header;
    font-weight: 300;
    line-height: 1.2em;

    @include lg-min
    {
        font-size: 3.75rem;
    }
    @include lg-md
    {
        font-size: 2.5rem;
    }
    @include md
    {
        font-size: 1.875rem;
    }
}

h2
{
    font-family: $font-header;
    line-height: 1.2em;

    letter-spacing: .1em;

    color: $color-primary;

    @include lg-min
    {
        font-size: 2.5rem;

        margin-bottom: $gap * 2.8;
    }
    @include lg-md
    {
        font-size: 2rem;

        margin-bottom: $gap * 2.1;
    }
    @include md-sm
    {
        font-size: 1.5rem;

        margin-bottom: $gap * 1.8;
    }
    @include sm
    {
        font-size: 1.5rem;

        margin-bottom: $gap * 1.8;

        text-align: center;
    }
}

h3
{
    font-size: 1.125rem;

    letter-spacing: .05em;

    color: $color-gray;
}

a
{
    text-decoration: none;

    color: $color-light;
}

.btn,
.btn-accent
{
    font-size: 1.125rem;

    display: block;

    height: 60px;
    padding: 18px $gap;

    transition: background-color .5s;
    text-align: center;
    letter-spacing: .1em;

    border: 2px solid $color-light;
    background-color: rgba($color-light, .1);
}

.btn:hover,
.btn:focus,
.btn-accent:hover
{
    background-color: $color-accent;
}
