.footer
{
    padding: ($gap * 2.5) $gap ($gap * 3.5);

    text-align: center;

    background-color: $color-primary;
    &__container
    {
        display: grid;

        max-width: $ul;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
    }
    &__social
    {
        position: relative;

        display: grid;

        margin-bottom: $gap * 2;

        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        justify-content: center;
        &::after
        {
            position: absolute;
            bottom: -$gap;
            left: calc(50% - 75px / 2);

            width: 75px;
            height: 2px;

            content: '';

            background-color: rgba($color-light, .1);
        }
        a
        {
            display: block;

            padding: $gap / 2;

            transition: color .5s;
            &:hover,
            &:focus
            {
                color: $color-accent;
            }
        }
        .fab
        {
            font-size: 36px;
        }
    }
    &__copy
    {
        span
        {
            &:nth-of-type(1)
            {
                font-weight: 100;

                margin-right: -.5em;

                letter-spacing: .33em;
            }
            &:nth-of-type(2)
            {
                font-weight: 700;

                letter-spacing: .05em;

                color: $color-gray-light;
            }
        }
    }
}
