.header-menu
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;

    @include md
    {
        background-color: rgba($color-gray-dark, .1);
    }
    &__container
    {
        display: grid;

        grid-template-columns: auto 1fr;
    }
}

.header-menu__container,
.header-content__container
{
    max-width: 1340px;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
}
