.header-navbar
{
    position: relative;

    display: grid;

    letter-spacing: .1em;

    align-items: center;
    justify-items: end;
    &__hamburger
    {
        position: relative;

        width: 30px;
        height: 22.5px;
        margin: $gap 0;

        cursor: pointer;
        transition: .5s ease-in-out;
        transform: rotate(0deg);

        @include md-min
        {
            display: none;
        }
        span
        {
            position: absolute;
            left: 0;

            display: block;

            width: 100%;
            height: 3px;

            transition: .25s ease-in-out;
            transform: rotate(0deg);

            opacity: 1;
            border-radius: 3px;
            background: $color-light;
            &:nth-child(1)
            {
                top: 0;
            }
            &:nth-child(2)
            {
                top: 9px;
            }
            &:nth-child(3)
            {
                top: 18px;
            }
        }
        &.active span
        {
            &:nth-child(1)
            {
                top: 9px;

                transform: rotate(135deg);
            }
            &:nth-child(2)
            {
                left: -30px;

                opacity: 0;
            }
            &:nth-child(3)
            {
                top: 9px;

                transform: rotate(-135deg);
            }
        }
    }
    &__list
    {
        margin: 0 -20px 0 0;
        padding: 0;

        list-style: none;

        @include md-min
        {
            display: grid;

            width: 100%;

            grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
            justify-content: end;
        }
        @include md
        {
            position: absolute;
            top: 100%;
            right: $gap;

            display: none;

            text-align: right;

            background-color: rgba($color-gray-dark, .9);
        }
        &.active
        {
            display: block;
        }
    }
    &__link
    {
        font-size: 1.125rem;

        display: block;

        padding: 20px;

        transition: color .5s;
        &:hover,
        &:focus
        {
            color: $color-accent;
        }
    }
}
