      .header-content
{
    position: relative;
    &__title
    {
        text-align: center;
        letter-spacing: .08em;

        @include lg-min
        {
            margin: 0 0 53px;
        }
        @include lg
        {
            margin: 0 0 43px;
        }
    }
    &__container
    {
        display: grid;

        max-width: $ul;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
    }
    &__buttons
    {
        display: flex;

        justify-content: center;
        @include sm
        {
            flex-direction: column;

            align-items: center;
        }
        .btn
        {
            @include lg-min
            {
                min-width: 250px;
                &:not(:last-of-type)
                {
                    margin-right: $gap;
                }
            }
            @include lg-md
            {
                font-size: 1rem;

                min-width: 200px;
                height: 50px;
                padding-top: 14px;
                padding-bottom: 14px;

                letter-spacing: .1em;
                &:not(:last-of-type)
                {
                    margin-right: $gap;
                }
            }
            @include md-sm
            {
                font-size: 1rem;

                min-width: 170px;
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;

                letter-spacing: .05em;
                &:not(:last-of-type)
                {
                    margin-right: $gap;
                }
            }
            @include sm
            {
                font-size: 1rem;

                min-width: 170px;
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;

                letter-spacing: .05em;
                &:not(:last-of-type)
                {
                    margin-right: 0;
                    margin-bottom: $gap;
                }
            }
        }
    }
}
