.header-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    @include md {
        background-color: rgba($color-gray-dark, 0.1);
    }
    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.header-menu__container,
.header-content__container {
    max-width: 1340px;
    margin: auto;
    padding-left: $gap;
    padding-right: $gap;
}