.header-logo {
    font-size: 1.5rem;
    letter-spacing: 0.22em;
    align-self: center;
    &__link {
        display: block;
        padding: 20px 20px 20px 0;
    }
    &__accent {
        display: inline-block;
        border: 3px solid $color-highlight;
        margin-right: 4px;
        padding: 14px 1px 13px 5px;
    }
}