.header-navbar {
    position: relative;
    align-items: center;
    display: grid;
    letter-spacing: 0.1em;
    justify-items: end;
    &__hamburger {
        width: 30px;
        height: 22.5px;
        position: relative;
        margin: $gap 0;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        @include md-min {
            display: none;
        }
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $color-light;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }
        }
        &.active span {
            &:nth-child(1) {
                top: 9px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3) {
                top: 9px;
                transform: rotate(-135deg);
            }
        }
    }
    &__list {
        list-style: none;
        margin: 0 -20px 0 0;
        padding: 0;
        @include md-min {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
            justify-content: end;
        }
        @include md {
            display: none;
            position: absolute;
            top: 100%;
            right: $gap;
            text-align: right;
            background-color: rgba($color-gray-dark, 0.9);
        }
        &.active {
            display: block;
        }
    }
    &__link {
        font-size: 1.125rem;
        padding: 20px;
        display: block;
        transition: color 0.5s;
        &:hover,
        &:focus {
            color: $color-accent;
        }
    }
}